%div.container
  %header.jumbotron.hero-spacer.z-depth-2
    %h1 muhPaste - unleash the cows
    %p
      Save your shitty code even faster with muh and its in-memory paste service
  %a.btn.btn-raised.btn-success.pull-right{href: '/gists/new'}
    Take my shit!
